body {
	background-image: url(../images/mizuno.png);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: center;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding: 0px;
}

li {
	margin-left: 100px;
	margin-right: 100px;
	list-style: none;
	padding: 20px;
	background: white;
	border-radius: 100px;
	text-align: center;
	color: black;
	font-family: sans-serif;
	border: 5px black solid;
}

a {
	text-decoration: none;
}